.reference-list li {
    display: table-row;
}

a.rdf-resource {
/*    color: inherit; */
}

a .glyphicon-link,.glyphicon-new-window {
    visibility: hidden;
    margin-left: 0.2em;
    font-size: xx-small;
    vertical-align: top;
}

a:hover .glyphicon-link,.glyphicon-new-window {
    visibility: visible;
}
