.reference-list li {
    display: table-row;
}

.rdf-list {
    list-style-type: circle;
    padding-inline-start: 1em;
}

a.rdf-resource {
/*    color: inherit; */
}

a.rdf-resource .glyphicon-link,.glyphicon-new-window {
    visibility: hidden;
    margin-left: 0.1em;
    font-size: 50%;
    vertical-align: top;
}

a.rdf-resource:hover .glyphicon-link,.glyphicon-new-window {
    visibility: visible;
}
